<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--namespace务必和接口的全类名一致 -->
<mapper namespace="com.vic.dao.CountryMapper">
    <!--id务必和接口中的方法名称对应
   如果参数类型是一个对象，那么sql语句中#｛对象的属性名｝
   -->


<!--关联映射-->

    <!--一对多，collection-->
    <!--根据国家的id，查询国家以及对应省会的信息，这种方式不能做延迟加载！-->
    <select id="selectCountryByCid" resultMap="countryMap">
        SELECT  cid,cname,pid,pname from country c,provincial p
        WHERE  c.cid=p.countryid
        and c.cid=#{xxx}
    </select>
    <resultMap id="countryMap" type="Country">
        <id property="cId" column="cid"/>
        <result property="cName" column="cname"/>
        <collection property="provincials" ofType="Provincial" resultMap="provincialResult"/>
    </resultMap>
    <!--省会结果的手动映射-->
    <resultMap id="provincialResult" type="Provincial">
        <id property="pId" column="pid"/>
        <result property="pName" column="pname"/>
    </resultMap>

    <!--collection 延迟加载-->
    <select id="selectCountryByCid_delay" resultMap="countryMap_delay">
-- 只查询国家的信息
        SELECT  cid,cname from country
        WHERE   cid=#{xxx}
    </select>
    <select id="selectProvincialByCid" resultMap="provincialResult">
-- 只查询国家对应的省会信息
        SELECT pid,pname FROM provincial
        WHERE countryid=#{xxx}
    </select>
    <resultMap id="countryMap_delay" type="Country">
        <id property="cId" column="cid"/>
        <result property="cName" column="cname"/>
        <!--设置一个国家对应多个省会的属性-->
        <!--如果延迟加载不在本xml中，加上相应xml中的namespace即可-->
        <collection property="provincials" ofType="Provincial"
                    select="com.vic.dao.ProvincialMapper.selectProvincialByCid" column="cid"/>
    </resultMap>



</mapper>